.annotated {
  background-color: lightblue;
}

.annotated:hover {
  background-color: #99a7ee;
  cursor: pointer;
}

.selected {
  background-color: #99a7ee;
}

.annotation-container {
  float: right;
  margin-right: 10%;
  margin-top: 10%;
  width: 300px;
}

.annotation-form {
  border-left: 5px solid #99a7ee;
  padding-left: 20px;
}

.form-buttons > button {
  padding: 3px;
  margin: 3px 5px 0px 0px;
  background-color: #fff;
  color: #0c0;
  letter-spacing: 1px;
  border: 2px solid #0c0;
}

.form-buttons .cancel-button {
  color: #f00;
  border-color: #f00;
}

.annotation-textarea {
  border: 1px solid #ccc;
  width: 250px;
  height: 180px;
  padding: 10px;
}

.annotation-textarea:focus {
  border: 1px solid #99a7ee;
  box-shadow: 0 0 10px;
}

.annotation-button {
  border-left: 5px solid #99a7ee;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

.annotation-display {
  border-left: 5px solid #99a7ee;
  padding-left: 20px;
  font-family: 'Lato', sans-serif;
}

.annotation-author {
  font-weight: bold;
}

.line {
  border-color: #99a7ee;
}

.annotation-upvote {
  padding: 1px 3px;
  color: #0c0;
  float: left;
  margin: 0 3px;
  border: 3px solid #0c0;
}

.annotation-score {
  float: left;
  padding: 4px 3px;
}

.green {
  color: #0c0;
}

.red {
  color: #f00;
}

.annotation-downvote {
  padding: 1px 3px;
  color: #f00;
  float: left;
  margin: 0 3px;
  border: 3px solid #f00;
}
