html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.header {
  height: 41px;
  background-color: #ffff64;
}

.header-nav {
  position: relative;
  font-family: sans-serif;
  margin: 0 auto;
}

.search-container {
  position: relative;
}

.search-bar {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  width: 220px;
  height: 28px;
  position: absolute;
  top: 7px;
  left: 20px;
  padding-left: 8px;
  border: 1px solid #eee;
}

.mag-glass {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 211px;
}


.session-list-actions {
  list-style: none;
  position: absolute;
  right: 6%;
  top: 2px;
}

.session-list-actions > li {
  float: left;
  padding: 10px;
}

.wrapper {
  position: fixed;
  left: 50%
}

.wrapper .logo {
  position: relative;
  left: -50%;
  top: 7px;
  text-shadow: -3px 2px #000;
  color: #ffff64;
  font-size: 24px;
  letter-spacing: 3px;
}
