html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.header {
  height: 41px;
  background-color: #ffff64;
}

.header-nav {
  position: relative;
  font-family: sans-serif;
  margin: 0 auto;
}

.search-bar {
  display: block;
  float: left;
  box-sizing: border-box;
  background-color: #fff;
  width: 220px;
  height: 25px;
  position: absolute;
  top: 8px;
  left: 6px;
}

.session-list-actions {
  float: right;
  list-style: none;
  vertical-align: middle;
}

.session-list-actions > li {
  float: left;
}
