.footer {
  background-color: #797777;
  color: black;
  font-family: 'Poppins', sans-serif;
  height: 35px;
  position: relative;
  display: flex;
  justify-content: center;
}

.footer-nav {
  text-align: center;
  position: absolute;
}

.footer-links a {
  padding: 2.5px 10px;
  border-right: 1px solid black;
  height: inherit;
  float: left;
  vertical-align: middle;
}

.footer-links a:first-child {
  border-left: 1px solid black;
}

.github-logo {
  width: 100px;
  height: 30px;
}
