.footer {
  background-color: #797777;
  color: #ccc;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}

.footer-nav {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #555;
}

.footer-links * {
  padding: 0px 8px;
  border-right: 1px solid #999;
  height: inherit;
  float: left;
}

.footer-links a:first-child {
  border-left: 1px solid #999;
}

.github-logo {
  width: 100px;
  vertical-align: middle;
}
