.homepage-container {
  background-color: #000;
  color: #aaa;
  font-family: 'Quicksand', sans-serif;
}

.right-column {
  float: right;
}

.about-container {
  border: 1px solid #ccc;
  color: #aaa;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.left-column {
  float: left;
  margin: 40px;

}

.song-index-item {
  display: block;
  position: relative;
  border: 1px solid #eee;
}

.song-index-item-img {
  filter: brightness(25%);
  width: 400px;
}

.song-index-item-caption {
  float: left;
  position: absolute;
  z-index: 1;
  margin-left: 2%;
}

.add-song-link-container {
  position: absolute;
  left: 50%;
}

.add-song-link {
  position: relative;
  right: 50%;
  white-space: nowrap;
}
