.homepage-container {
  background-color: #000;
  color: #aaa;
  font-family: 'Quicksand', sans-serif;
}

.about-container {
  border: 1px solid #ccc;
  color: #aaa;
  width: 200px;
  float: right;
}
