.new-song-form-container {
  background-color: #000;
  color: #aaa;
  font-family: 'Quicksand', sans-serif;
  position: relative;
}

.new-song-form {
  padding: 10px 20px;

  position: relative;
}

.new-song-header {
  color: #fff;
  font-size: 24px;
}

.new-song-form-input {
  background-color: #fff;
  padding: 5px;
  width: 450px;
  border-radius: 3px;
  color: #333;
}

textarea.new-song-form-input {
  height: 800px;
}

.new-song-form input[type="submit"] {
  background-color: #262626;
  color: #ccc;
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.uploaded-image {
  width: 450px;
  position: absolute;
  right: 5%;
  bottom: 6%;
}
